<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Noodle</title>
        <!-- JQuery -->
        <script src="https://code.jquery.com/jquery.js"></script>
        
        <link rel="stylesheet" type="text/css" href="../public/assets/css/reset.css">
        <link rel="stylesheet" type="text/css" href="../public/assets/css/style.css">

       <script src="../public/assets/js/index.js"></script>
        <script src="../public/assets/js/toggles.js"></script>
    </head>
    <body>

    </body>
</html>