<!DOCTYPE html>
<html lang="en">

<!-- This is a barebones html front that allows you to controll all hardware without the cpmlexity of the ui -->

	<head>
		<title>Noodle</title>
		<!-- JQuery -->
		<script src="https://code.jquery.com/jquery.js"></script>

		<link rel="stylesheet" type="text/css" href="../public/assets/css/reset.css">
		<link rel="stylesheet" type="text/css" href="../public/assets/css/style.css">

        <script src="../public/assets/js/index.js"></script>
        <script src="../public/assets/js/toggles.js"></script>
	</head>
	<body>
		<div>
			<div>sensor1 buttons</div>
			<button data-id="1" data-state="false" class="js-light-on">Light</button>
			<button data-id="1" data-state="false" class="js-pump-on">Pump</button>
			<button data-id="1" data-state="false" class="js-auto-on">Auto</button>
			<div>
				<input id="soil-target-1" placeholder= "target soil">
			</div>
		</div>
		<div>
			<div>sensor2 buttons</div>
			<button data-id="2" data-state="false" class="js-light-on">Light</button>
			<button data-id="2" data-state="false" class="js-pump-on">Pump</button>
			<button data-id="2" data-state="false" class="js-auto-on">Auto</button>
			<div>
				<input id="soil-target-2" placeholder= "target soil">
			</div>
		</div>
		<div>
			<div>sensor3 buttons</div>
			<button data-id="3" data-state="false" class="js-light-on">Light</button>
			<button data-id="3" data-state="false" class="js-pump-on">Pump</button>
			<button data-id="3" data-state="false" class="js-auto-on">Auto</button>
			<div>
				<input id="soil-target-3" placeholder= "target soil">
			</div>
		</div>
		<div>
			<div>sensor4 buttons</div>
			<button data-id="4" data-state="false" class="js-light-on">Light</button>
			<button data-id="4" data-state="false" class="js-pump-on">Pump</button>
			<button data-id="4" data-state="false" class="js-auto-on">Auto</button>
			<div>
				<input id="soil-target-4" placeholder= "target soil">
			</div>
		</div>

	</body>
</html>
